* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(141,165,177,255);
  padding: 13px;
}

.guled img{
border-radius: 50%;
width: 330px;
height: 280px;
background-attachment: fixed;
margin: 20px;

}
.guled {
background-image: url(../images/mountain.jpeg);
background-size: cover;
background-attachment: fixed;
background-position: center;}

header h1 {
color: white;
}

header nav {
  margin: 10px ;
}

header nav ul {
  justify-content: space-between; 
}

header nav ul li {
  display: inline;
  list-style: none;
  }

header nav ul li a {
    padding: 20px 20px;
    font-size: larger;
    color: white;
    text-decoration: none;
    }

section h2 {
  color:rgba(141,165,177,255);
  font-size: 30px
}

section p {
  color:rgba(141,165,177,255);
}

.guled h2 {
color:white;
font-size: larger;
font-weight: bolder;
margin: auto;

}

.run-buddy img {
 width:30%;
}


footer {
  background-color: rgba(141,165,177,255);
  justify-content: center;
  display: flex;
  
  }

footer h2 {
  color: white;
  margin: 15px;

}

footer a {
  color: white;
  text-align: center;
  display: inline;
  text-decoration: none;
  font-size: larger;
  padding: 20px;
}